gen/
bin/
/.boards.depend
filenametags
fullfilenametags
cscope.files
gtags.files
GTAGS
GPATH
GRTAGS
tags
cscope.po.out
cscope.in.out
cscope.out
/Android.mk.cache
mgrep.mk
/out
/build_dir
/ts
*.tar
/*.tgz
/*.log
/*.patch
*.swp
*.swo
/720p.sh
/env_720p.sh
/frameworks/base/api/current.txt
/.gdbinit
/.gdbinit.old
/debug_so.txt
/so.fn
/.idea/workspace.xml
